
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;500;600&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:wght@300;400;600;700&family=PT+Serif&display=swap');

/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Serif', serif; */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #bbbfbe;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #0d0d0d;
    text-align: center;

    
}

.wrapper {
    text-align: center;
}

.content {
    margin: 32px auto;
    margin-top: 0;
    text-align: left;
    background-color: #f0f0f0;
    padding: 16px;
    width: 60%;
}

.logo {
    font-family: 'PT Serif', serif;
    font-size: 32px;
    font-weight: 800;
    margin: 32px 0px 8px 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 24px;
}

.tagline {
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    color: #716664;
    margin: 8px;
}

button, 
input[type=submit],
input[type=button]
 {
    display: inline-block;
    border: none;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    background-color: #55a491;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: color 250ms ease-in-out;
    Font-family: 'Barlow Condensed', sans-serif;

}

button:hover, 
button:focus,
input[type=submit]:hover
{
    color: #b1b1b1;
    background-color: #417e70;

}

.button-secondary {
    color: #55a491;
    background-color: rgba(0,0,0,0);
    font-size: 12px;
    border: 0px;
}

.button-secondary:focus {
    color: #55a491;
    background-color: rgba(0,0,0,0);
    font-size: 12px;
    border: 0px;
}

.button-secondary:hover {
    color: #417e70;
    background-color: rgba(0,0,0,0);
    font-size: 12px;
    border: 0px;
}

.navlinks a, a {
    padding: 0px 8px;
    text-decoration: none;
    transition: color 250ms ease-in-out;
    color: #55a491;
    /* color: white; */
  
}

.navlinks a:visited, a:visited {
    color: #55a491;

}

.navlinks a:hover, a:hover {
    color: #417e70;

}

.login-signup-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    
}

.signup-wrapper {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    
}

.main-navlinks {
    font-weight: 700;
    text-transform: uppercase;
    margin: 24px;
}

.content-header {
    background-color: #dbdbdb;
    width: 60%;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;


}

.message-username {
    color: #747474;
    font-size: 12px;

}

.timestamp {
    font-size: 8px;
    color: #909090;

}

.current-user-message {
    text-align: right;
    color: white;
    

}

.other-user-message {
    text-align: left;
}

.other-user-message .message-content,
.current-user-message .message-content {
    color: white;
    max-width: 60%;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 4px;
    display: inline-block;
}

.other-user-message .message-content {
background-color: #405eb9;
}

.current-user-message .message-content {
    background-color: #589abb;
}


.current-user-message, .other-user-message {
    margin: 12px 8px;
  
}

.messages {
    background: white;
    margin: 8px 16px;
    padding: 16px;
}

.note {
    background-color: white;
    margin: 16px;
    padding: 16px;

}

.edit-delete-buttons-container {
    display: flex;
}

.note-footer {
    text-align: right;
    font-size: 12px;
    padding-top: 4px;
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.note-content {
   

}

.quipboard-title {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.note-input {
    font-size: 12px;
    margin: 16px;
    padding: 16px;
    width: 80%;

}

.note-edit-input {
    font-size: 12px;
    padding: 16px;
    width: 80%;
}


.main-note-form {
    display: flex;
    align-items: center;
}

/* .individual-comment-wrapper {
    margin: 8px 0px;
    border-bottom: 1px solid #cfcfcf;
    padding: 8px 0px;
    font-size: 12px;

}

.individual-comment-content {
    font-size: 16px;
    margin: 8px 0px;
    padding: 8px 0px;

} */

.welcome-message {
    margin: 32px auto;
    margin-top: 0;
    text-align: center;
    background-color: #f0f0f0;
    padding: 16px;
    width: 100;
    
}

br {
    padding: 16px;
}

.new-convo-form {
    margin: 32px auto;
    margin-top: 0;
    text-align: left;
    background-color: #f0f0f0;
    padding: 16px;
    width: 60%;
    border: solid;
}

.convo-name {
    text-align: center;
    font-weight: 700;
}

.new-convo-input {
    /* size: 100%; */
    width: 60%;
    padding: 8px;
}

.submit-convo-button {
    margin: 0px;
    padding: 10px;
}

.delete-convo-container {
    display: flex;
    justify-content: center;
}

.delete-convo-button, .delete-convo-button:hover  {
    background-color: rgb(248, 113, 113);
    font-size: 10px;
}



.message-input {
    font-size: 12px;
    margin: 16px;
    padding: 16px;
    width: 80%;
}


.new-message-form {
    display: inline-flex;
    align-items: center;
    width: 100%;
    size: 100%;
}

.new-message-div {
    width: 100%;
    size: 100%;
}

.message-submit-button {
   text-align: left;
   padding: 10px;
}

.new-note-form {
    display: inline-flex;
    align-items: center;
    width: 100%;
    size: 100%;
}

.new-note-div {
    width: 100%;
}

.submit-note-button {
    padding: 10px;
}

.conversations-title {
    text-align: center;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}